*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  overflow: hidden;
}

section:nth-child(2){
  background-color: rgb(26, 120, 160);
}

